<h1> Received messages </h1>
<table border=1>
{% for m in msgs_list %}
    {% if m.is_read %}
    <tr>
        {% else %}
        <tr bgcolor="#ddddff">
    {% endif %}
    <td width=10%> {{ m.sender  }}</td>
    <td width=20%> {{m.when}}</td>
    <td width=70%> <a href="/messages/im/{{ m.id }}"> {{m.cut}}</a></td>
    </td>
    </tr>
{% endfor %}
</table>
