<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <form method="post" action="/messages/im/">
        {% csrf_token %}
    <button type="submit">Back</button>
    </form>
    from: {{message.sender}}
</head>
<body>
<p>{{message}}</p>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="message"/>
        <input type="submit" name="send"/>
    </form>
</body>
</html>