<h1>{{ tweet.tweet_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'login' %}" method="post">
{% csrf_token %}
	<label for="username">Username</label>
    <input type="text" name="username" id="username" value="" /> 
	<label for="password">Password</label>
    <input type="password" name="password" id="password" value="" />    
	<input type="submit" value="Log in" />
</form>	
