
/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors).
body {
  margin: 25px;
  background-color: rgb(255,255,255);
  font-family: arial, sans-serif;
  font-size: 14px;
}*/

/* Applies to all <h1>...</h1> elements.
h1 {
  font-size: 50px;
  font-weight: normal;
  margin-top: 5px;
  color: red;
}*/
.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 30%;
  clear: both;
}
/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }

.nav-pills .nav-link.active, .nav-pills {
        color: #000000 !important;
        background-color: white !important;
    }
.nav-link-anya
{
    color: #004085;
}
.mb-1 navbar navbar-expand-lg navbar-dark bg-light info-color fixed-top scrolling-navbar
{
    background-color: #004085;
    border-color: #1c7430;
}
.container
{
 color: black;
}