{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VK{% endblock %}</title>
    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
<header>
    {% block header %}
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-light info-color fixed-top scrolling-navbar">
        <div class="container" style="width: 100rem">
            <a class="navbar-brand" href="/feed" style="color: SteelBlue">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/VK.com-logo.svg/1200px-VK.com-logo.svg.png"
                     style="width: 40px" alt="">
                Vkontakte</a>

            {% block header_items %}
            {% endblock %}
            <div class="collapse navbar-collapse" id="userNavbar">
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-auto">
                        <a class="nav-link-anya" href="{% url 'logout' %}">
                            Log out</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}
</header>

<main style="margin-top: 100px ">
    <div class="container" style="width: 100rem">
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <a href="/{{request.user.id}}">My page</a><br/>
                    <a href="/friends">My friends</a><br/>
                    <a href="/messages/im">My messages</a><br/>
                    <a style="color: black">My communities</a><br/>
                    <a style="color: black">My photos</a><br/>
                    <a style="color: black">My music</a><br/>
                    <a style="color: black">My videos</a><br/>
                    <a style="color: black">My meetings</a><br/>
                </div>
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>
<footer>
    {% block footer %}
    <footer class="page-footer font-small lighten-3 pt-4">
        <div class="footer-copyright text-center py-3">VkApp, 2019</div>
    </footer>
    {% endblock %}
</footer>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/js/mdb.min.js"></script>
{% block extra_scripts %}{% endblock extra_scripts %}
</body>
</html>