{% extends 'common/wrap.html' %}

{% block content %}
<div class="col-10">
    <h3>Incoming</h3>
    <div class="text-right">
        <form action="{% url 'om' %}">
            <button type="submit" class="btn btn-primary">Outcoming</button>
        </form>
        <br/>
        <form method="get">
            <button type="submit" name="id" class="fas fa-bug" value="1"></button>
        </form>
    </div>

    <table border=1>
        <thead>
        <tr>
            <th>Sender</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for m in msgs_list %}
        {% if m.is_read %}
        <tr>
            {% else %}
        <tr bgcolor="#ddddff">
            {% endif %}
            <td width=10%> {{ m.sender }}</td>
            <td width=20%> {{m.when|date:'d M Y, H:i'}}</td>
            <td width=70%><a href="/messages/im/{{ m.id }}"> {{m.message |truncatechars:50}}</a></td>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


