{% extends 'common/wrap.html' %}
{% block content %}
<div class="col-md-9">
<form method="post" action="{% url 'im' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Back</button>
</form>
<h4>from: {{message.sender}}</h4>
<div class="row"> <p>{{message}}</p></div>
<form method="post">
    {% csrf_token %}
    <input type="text" name="message" id="message"/>
    <div id="count">50</div>
    <input type="submit" class="btn btn-primary" name="send"/>
</form>
    </div>
<script>
    $("#message").keyup(function () {
        var box=$(this).val();
        var main=box.length * 100;
        var value=(main/50);
        var count=50 - box.length;
        if(box.length <= 50)
        {
            $('#count').html(count);
        }
        else {
            alert('No more place');
        }
        return false;
    });
</script>
{% endblock %}