{% extends 'common/wrap.html' %}
{% block content %}
    <form method="post" action="{% url 'new' id=user2.id %}">
        {% csrf_token %}
    <button type="submit" >Back</button>
    </form>
    from: {{user1}} <br> to: {{user2}}
    <form method="post" action="{% url 'new' id=user2.id  %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="profile-edit-btn" value="Send"/>
        </form>
{% endblock %}