{% extends 'common/wrap.html' %}
{% block content %}
<div class="col-9">
    <h3>Outcoming</h3>
    <div class="text-right">
<form method="post" action="{% url 'im' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Back</button>
</form></div>
    <table border="1">
        <thead>
        <tr>
            <th>Sent to</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for msg in msgs %}
        {% if msg.is_read %}
        <tr>
            {% else %}
        <tr bgcolor="bbbbff">
            {% endif %}
            <td width="10%"> {{msg.receiver__username }}</td>
            <td width="70%"> {{msg.message}}</td>
            <td width="20%"> {{ msg.when|date:'d M Y, H:i' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}