<h1>{{ tweet.tweet_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if authorized %}
<form method="post">
{% csrf_token %}
    <input type="text" name="tweet" />    
	<input type="submit" value="Send" />
</form>
{% endif %}

{% if tweet_list %}
    <ul>
    {% for tweet in tweet_list %}
        <li>{{ tweet.tweet_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tweets</p>
{% endif %}


{% if authorized %}
<form  method="get">
{% csrf_token %}
    <input type="submit" name="usertweet" value="MyTweets" />
</form>

<form  action="{% url 'logout' %}" method="get">
{% csrf_token %}
    <input type="submit" name="logout" value="Log out" />
</form>
{% endif %}

{% if unauthorized %}
<form action="{% url 'login' %}" method="get">
{% csrf_token %}
    <input type="submit" value="Log in" />
</form>
{% endif %}