
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<form action="/people/posts/" method="post">
    {% csrf_token %}
    {{ post }}
    <input type="submit" value="Submit" />
</form>
</body>
</html>