{% extends 'common/wrap.html' %}
{% load staticfiles %}

{% block content %}
<body>
<form action="/people/save/" method="post">
    {% csrf_token %}
    {% for field in form %}
    {{field.label}}:  {{ field }}
    <br><br>
{% endfor %}
    <input type="submit" value="Submit" />
</form>
</body>
{% endblock %}