{% extends 'common/wrap.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="col-10">
    <div class="row">
        {% for f in object_list %}
        <div class="row">
            <div class="col-12">
                <label>
                    <p><img src="{{f.page_pic.img.url}}"
                            width="10%" class="rounded float-left" alt="...">
                        <a href="/{{f.id}}"> {{f.first_name}} {{f.last_name}}</a>
                        <br>
                    </p>
                </label>
            </div>
        </div>
        <hr>

        {% endfor %}
    </div>
</div>

{% endblock %}