{% extends 'common/wrap.html' %}
{% load static %}
{% load staticfiles %}
{% block header_items %}

{% endblock %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="col-3">
    <div class="profile-img">
        <img src="{{person.page_pic.img.url}}" alt="" width="250px">
    </div>
    {% if not is_owner %}
    <div class="col-md-12">
        <a href={% url 'new' id=person.id %}>Write message</a>
    </div>
    {% if not is_friend %}
    <div class="col-md-12">
        <a href={% url 'friend' id=person.id %}>Add to friends</a>
    </div>
    {% else %}
    <div class="col-md-12">
        <a href={% url 'friend' id=person.id %}>Remove from friends</a>
    </div>
    {% endif %}

    {% endif %}

</div>
<div class="col-7">
    <div class="profile-head">
        <h5>
            {{person.first_name}} {{person.last_name}}
        </h5>
        <h6>
            {% if is_owner %}

            <form method="post" id="statusform" action="{% url 'update_status' id=person.id%}">
                {% csrf_token %}
                <input type="text" id="status" name="text" value="{{person.status}}" class="form-control-sm">
                <input type="submit" name="send" class="" value="Обновить статус">
            </form>
            {% else %}
            {{person.status}}
            {% endif %}
        </h6>

        <p class="proile-rating">{{person.date_of_birth}}</p>
        <button class="show-hide btn btn-info" onclick="hideShow('fullInfo')">Show full information</button>
        <div class="" id="fullInfo" style="display: none">
            {% if person.interests %}
            <div class="row">
                <div class="col-md-4">
                    <label>Interests</label>
                </div>
                <div class="col-md-8">
                    <p>{{person.interests}}</p>
                </div>
            </div>
            {% endif %}
            {% if person.activities %}
            <div class="row">
                <div class="col-md-4">
                    <label>Activivties</label>
                </div>
                <div class="col-md-8">
                    <p>{{person.activities}}</p>
                </div>
            </div>
            {% endif %}
            {% if person.inspired_by %}
            <div class="row">
                <div class="col-md-4">
                    <label>Inspired by</label>
                </div>
                <div class="col-md-8">
                    <p>{{person.inspired_by}}</p>
                </div>
            </div>
            {% endif %}
            {% if person.religion %}
            <div class="row">
                <div class="col-md-4">
                    <label>Religion</label>
                </div>
                <div class="col-md-8">
                    <p>{{person.religion}}</p>
                </div>
            </div>
            {% endif %}
            {% if person.favourite_music %}
            <div class="row">
                <div class="col-md-4">
                    <label>Favourite music</label>
                </div>
                <div class="col-md-8">
                    <p>{{person.favourite_music}}</p>
                </div>
            </div>
            {% endif %}
            {% if person.favourite_films %}
            <div class="row">
                <div class="col-md-4">
                    <label>Favourite films</label>
                </div>
                <div class="col-md-8">
                    <p>{{person.favourite_films}}</p>
                </div>
            </div>
            {% endif %}
            {% if person.favourite_books %}
            <div class="row">
                <div class="col-md-4">
                    <label>Favourite books</label>
                </div>
                <div class="col-md-8">
                    <p>{{person.favourite_books}}</p>
                </div>
            </div>
            {% endif %}
            {% if person.favourite_quotes %}
            <div class="row">
                <div class="col-md-4">
                    <label>Favourite quotes</label>
                </div>
                <div class="col-md-8">
                    <p>{{person.favourite_quotes}}</p>
                </div>
            </div>
            {% endif %}
        </div>
                </div> <br />
    <div class="row">
 <div class="col-md-12">
     <div class="card my-2" style="width: 50rem;">
                <div class="card-body">

        <form method="post" action="{% url 'createpost' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="where_posted" value="{{person.id}}"/> <br />
            {{ post.as_p }}
            <input type="text" placeholder="Write something..." name="text"> <br/>
            <input type="submit" class="profile-edit-btn" value="Upload"/>
        </form>

                </div></div>
                    <div class="card my-2" style="width: 50rem;">
                <div class="card-body">
                    <input type="button" value="Recent" id="selection-button">
            {% for m in object_list %}
            <div class="row">
                <div class="col-md-4">
                    <label>{{ m.date |date:"D d M Y"}} <br>
                        <img src="{{m.who_posted.page_pic.img.url}}"
                             width="20%" class="rounded float-left" alt="...">
                        <a href="{% url 'person' id=m.who_posted.id %}"> {{m.who_posted.first_name}}
                            {{m.who_posted.last_name}}</a></label>
                </div>
                <div class="col-md-8">
                    <p>{{m.text}}</p>
                    {% if m.photo_att.img %}
                        <img src="{{m.photo_att.img.url}}"
                             width="100%" class="float-left" alt="..."></p>
                    {% endif %}
                    <form method="post" action="{% url 'post_del' id=person.id post_id=m.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn-xs btn-primary" value="Delete"/>
                    </form>
                </div>
            </div>
            <hr>
            {% endfor %}
                </div></div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
    function hideShow(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
{% endblock extra_scripts %}
