{% extends 'common/wrap.html' %}
{% load static %}
{% load staticfiles %}
{% block header_items %}
<div class="nav-item mr-auto">
    <form class="form-inline" method="get">
        <i class="fas fa-search" aria-hidden="true" ></i>
        <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" name="word" placeholder="Search by words"/>
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <div class="col-10">
        <div class="row">
            <form action="{% url 'latest_posts' %}">
                <input type="submit" value="Latest" style="width: 200px">
            </form>

                {% for m in object_list %}
            <div class="card my-2" style="width: 80rem;">
                <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>{{ m.date |date:"D d M Y"}} <br>
                            <img src="{{m.who_posted.page_pic.img.url}}"
                                    width="15%" class="rounded float-left" alt="...">
                                <a href="/{{m.who_posted.id}}"> {{m.who_posted.first_name}}
                                    {{m.who_posted.last_name}}</a>
                                <br>
                        </label> <br>
                        <button type="button" id="likes-{{m.id}}" class="btn btn-sm btn-light right" id="like" onclick="like({{ m.id }})">
                            <i class="fas fa-heart" id="icon-{{m.id}}"><div id="val"> Like <span id="count-{{m.id}}">{{m.like_counter}}</span></div></i>
                        </button>
                    </div>

                    <div class="col-md-8">
                        <p>{{m.text}} <br>
                            {% if m.photo_att.img %}
                            <img src="{{m.photo_att.img.url}}"
                                 width="50%" class="rounded float-left" alt="..."></p>
                        {% endif %} <br />
                    </div> </div></div></div>
                {% endfor %}
            </div>
        </div>

{% endblock %}
{% block extra_scripts %}
<script type="application/javascript">
        function like(id) {
            console.log("Im in AJAX");
            console.log(id);
            $.ajax({
                url: 'like/',
                type: 'post',
                dataType: 'json',
                data: {post_id: id },
                success: function (data) {
                    var likeCount = $('#count-' + id).text();
                    var liked =data['liked'];
                    if(liked === 'True')
                    {
                        $('#icon-' + id).css("color", "black");
                        likeCount--;
                    }
                    else {
                        $('#icon-' + id).css("color", "#c82333");
                        likeCount++;
                    }
                    $('#count-' + id).text(likeCount);
    console.log("success");
                },
                failure: function () {
                    alert('bad')
                }
            });
        }
    </script>
<script>
        $( "#selection-button" ).click(function(event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'latest_posts' %}",
                method: 'GET',
                success: function(data){
                console.log('success')
         },
                error: function(error_data){
                console.log("error")
                console.log(error_data)
         }
            })
        });
    </script>
{% endblock %}