<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit skills</title>
</head>
<body>
{% if skills %}
<ul>
    {% for s in skills %}
    <li>{{s.name}}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>