<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendations</title>
</head>
<body>
{% if skills %}
{{person.name}}'s skills:
<ul>
{% for skill in skills %}
    <li>{{skill.skill.name}}</li>
{% endfor %}
</ul>
{% else %}
<p> You have no skills</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <input type="submit", value="Edit", name="edit"/>
<input type="submit", value="Compare", name="compare"/>
</form>
</body>
</html>