{% extends "common/wrap.html" %}
{% block content %}

<div class="container">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Login</label><br/>
        <input type="text" name="username" id="username" class="form-control-sm"><br/>
        <label for="password">Password</label><br/>
        <input type="password" id="password" name="password" class="form-control-sm"> <br/>
        {% if login_error %}
        <label>{{ login_error }}</label>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Войти"/>
    </form>
</div>

{% endblock %}